*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:url(./images/l5.jpg) no-repeat center/cover;
    overflow:hidden;
    font-family: Arial, sans-serif;
}

.carousel-wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
}

.carousel{
    position:relative;
    width:250px;
    height:250px;
    transform-style:preserve-3d;
    animation: rotate 20s linear infinite;
}

.carousel:hover{
    animation-play-state:paused;
}

.carousel span{
    position:absolute;
    width:100%;
    height:100%;
    transform: rotateY(calc(var(--i) * 60deg)) translateZ(400px);
}

.carousel span img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 15px 40px rgba(0,0,0,0.5);
}


@keyframes rotate{
    0%{
        transform: perspective(1200px) rotateY(0deg);
    }
    100%{
        transform: perspective(1200px) rotateY(360deg);
    }
}

.btn{
    padding:10px 25px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    background:linear-gradient(90deg,#9d00ff,#ff00ff);
    color:white;
    transition:0.3s;
    position: fixed;
    bottom: 50px;
}

.btn:hover{
    background:black;
}

@media (max-width:768px){

    .carousel{
        width:180px;
        height:180px;
    }

    .carousel span{
        transform: rotateY(calc(var(--i) * 60deg)) translateZ(280px);
    }

}
